In [1]:
import pandas as pd
import numpy as np

In [9]:
##  creating dataframe   -- (data, index name , column name)
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['r1','r2','r3','r4','r5'],columns=['c1','c2','c3','c4'])

In [7]:
df.head()

    c1  c2  c3  c4
r1   0   1   2   3
r2   4   5   6   7
r3   8   9  10  11
r4  12  13  14  15
r5  16  17  18  19

In [8]:
df.to_csv('PandasTest1.csv')

In [10]:
## accessing elements
df.loc['r1']

c1    0
c2    1
c3    2
c4    3
Name: r1, dtype: int32

In [13]:
type(df.loc['r1'])

pandas.core.series.Series

In [14]:
df.iloc[:,:]

    c1  c2  c3  c4
r1   0   1   2   3
r2   4   5   6   7
r3   8   9  10  11
r4  12  13  14  15
r5  16  17  18  19

In [15]:
df.iloc[0:3,0:2]

    c1  c2
r1   0   1
r2   4   5
r3   8   9

In [18]:
type(df.iloc[0:3,0:2])  ## DF bcz more than 1 row and 1 col are there

pandas.core.frame.DataFrame

In [20]:
## data frames to array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [21]:
df.isnull()

       c1     c2     c3     c4
r1  False  False  False  False
r2  False  False  False  False
r3  False  False  False  False
r4  False  False  False  False
r5  False  False  False  False

In [22]:
df.isnull().sum()

c1    0
c2    0
c3    0
c4    0
dtype: int64

In [46]:
df['c1'].value_counts()

c1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64

In [24]:
df.value_counts()

c1  c2  c3  c4
0   1   2   3     1
4   5   6   7     1
8   9   10  11    1
12  13  14  15    1
16  17  18  19    1
Name: count, dtype: int64

In [41]:
df2=pd.DataFrame(np.array([1,2,34,4,5,7,2,2,2,66,6,8,3,7,9,12,75,34]).reshape(3,6),index=['c1','c2','c3'],columns=['r1','r2','r3','r4','r5','r6'])

In [42]:
df2.head()

    r1  r2  r3  r4  r5  r6
c1   1   2  34   4   5   7
c2   2   2   2  66   6   8
c3   3   7   9  12  75  34

In [43]:
df2.value_counts()

r1  r2  r3  r4  r5  r6
1   2   34  4   5   7     1
2   2   2   66  6   8     1
3   7   9   12  75  34    1
Name: count, dtype: int64

In [34]:
df3=pd.DataFrame(np.arange(0,100).reshape(10,10),index=['r1','r2','r3','r4','r5','r6','r7','r8','r9','r10'],columns=['c1','c2','c3','c4','c5','c6','c7','c8','c9','c10'])

In [37]:
df3.head(10)

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [44]:
df2['r2'].unique()

array([2, 7])

In [51]:
df3[['c3','c5']]

     c3  c5
r1    2   4
r2   12  14
r3   22  24
r4   32  34
r5   42  44
r6   52  54
r7   62  64
r8   72  74
r9   82  84
r10  92  94

In [53]:
df3[['r1','r7']['c4','c7']]

<>:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
C:\Users\ASUS\AppData\Local\Temp\ipykernel_15680\3704726422.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df3[['r1','r7']['c4','c7']]
C:\Users\ASUS\AppData\Local\Temp\ipykernel_15680\3704726422.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df3[['r1','r7']['c4','c7']]
C:\Users\ASUS\AppData\Local\Temp\ipykernel_15680\3704726422.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df3[['r1','r7']['c4','c7']]
C:\Users\ASUS\AppData\Local\Temp\ipykernel_15680\3704726422.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df3[['r1','r7']['c4','c7']]
C:\Users\ASUS\AppData\Local\Temp\ipykernel_15680\3704726422.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df3[['r1','r7']['c4','c7']]
C:\Users\ASUS\AppData\Local\Temp\ipykernel_15680\3704726422.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df3[['r1','r7']['c4','c7']]
C:\Users\ASUS\AppData\Local\Temp\ipykernel_15680\3704726422.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df3[['r1','r7']['c4','c7']]

TypeError: list indices must be integers or slices, not tuple

In [54]:
df3.iloc[4,5]

45

In [56]:
pip install opendatasets

Defaulting to user installation because normal site-packages is not writeable
Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from opendatasets) (4.66.5)
Collecting kaggle (from opendatasets)
  Downloading kaggle-1.7.4.2-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from opendatasets) (8.1.7)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->opendatasets) (0.4.6)
Requirement already satisfied: bleach in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (4.1.0)
Requirement already satisfied: certifi>=14.05.14 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2024.8.30)
Requirement already satisfied: charset-normalizer in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (3.3.2)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (3.7)
Requirement already satisfied: protobuf in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (4.25.3)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (75.1.0)
Requirement already satisfied: six>=1.10 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: text-unidecode in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.3)
Requirement already satisfied: urllib3>=1.15.1 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.2.3)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (0.5.1)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (24.1)
Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Downloading kaggle-1.7.4.2-py3-none-any.whl (173 kB)
Installing collected packages: kaggle, opendatasets
Successfully installed kaggle-1.7.4.2 opendatasets-0.1.22
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script kaggle.exe is installed in 'C:\Users\ASUS\AppData\Roaming\Python\Python312\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [57]:
pip install opendatasets

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: opendatasets in c:\users\asus\appdata\roaming\python\python312\site-packages (0.1.22)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from opendatasets) (4.66.5)
Requirement already satisfied: kaggle in c:\users\asus\appdata\roaming\python\python312\site-packages (from opendatasets) (1.7.4.2)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from opendatasets) (8.1.7)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->opendatasets) (0.4.6)
Requirement already satisfied: bleach in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (4.1.0)
Requirement already satisfied: certifi>=14.05.14 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2024.8.30)
Requirement already satisfied: charset-normalizer in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (3.3.2)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (3.7)
Requirement already satisfied: protobuf in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (4.25.3)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (75.1.0)
Requirement already satisfied: six>=1.10 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: text-unidecode in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.3)
Requirement already satisfied: urllib3>=1.15.1 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.2.3)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (0.5.1)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (24.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import opendatasets as op