## CSV

In [1]:
data=('c1,c2,c2\n'
     '1,a,b\n'
     '2,c,d\n'
     '3,x,y')

In [2]:
type(data)

str

In [3]:
import pandas as pd

In [8]:
from io import StringIO , BytesIO

In [9]:
pd.read_csv(StringIO(data))

   c1 c2 c2.1
0   1  a    b
1   2  c    d
2   3  x    y